@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
body , ul {
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
}

a {
    color: #000000;
    text-decoration: none;
    font-family: Poppins;
}



.logoimg {
    display: flex;
    align-items: center;
}

.logoimg img{
    width: 45px;
    margin-left: 1rem;
}


.logoimg h1 {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: Poppins;
    margin-left: 10px;
    
    
}

#header {
    box-sizing: border-box;
    height: 70px;
    display: flex;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#menu {
    display: flex;
    list-style: none;
    margin-left: 150px;
    
}

#menu a {
    display: block;
    padding: 1.5rem;
    font-size: 18px;
    font-weight: 400;
    color: #2c2f44d0;
}

#menu a:hover {
    color: #000000;
}


#butu {
    display: flex;
    list-style: none;
    margin-right: 1rem;  
    
}

#butu a.op {
    display: block;
    padding: 1.0rem;
    font-size: 18px;
    font-weight: 400;
    color: #2c2f44d0;
   
  
}

#butu a:hover {
    color: #000000;
}

#butu a {
    display: block;
    padding: 1.0rem;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
}

.cad {
    display: block;
    padding: 1.0rem;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    font-family: Poppins; 
    
}

.cad:hover {
    color: #000000;
}

.cad  { 
    background:  #242742;
	font-size: 16px;
	text-decoration: none;
	padding:10px 30px;
	border-radius: 10px;
	display: inline-block;
	border: none;
	cursor: pointer;
    transition: all .3s ease-in-out;
}



.cad:hover {
    background: #59598d;

}


.sob {
    display: flex;
}

.sob h1 {
    color: #393963;
    font-weight: 600;
    font-family: Poppins;
    font-size: 20px;
    margin-top: 150px;
    margin-left: 800px;
   
}

.sob h2 {
    color: #000000;
    font-family: Poppins;
    font-weight: 500;
    font-size: 50px;
    margin-top: 230px;
    margin-left: -370px;
  
}

.sob2 h1 {
    color: #414164d7;
    font-weight: 500;
    font-family: Poppins;
    font-size: 22px;
    margin-top: 20px;
    margin-left: 420px;
    
}

.sob3 h1 {
    color: #414164d7;
    font-weight: 500;
    font-family: Poppins;
    font-size: 22px;
    margin-top: -10px;
    margin-left: 435px;
}

.metrics {
    margin-top: 150px;
    color: #242742;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    font-family: Poppins;
    font-size: 60px;
    font-weight: 500;
    margin-left: 15rem;
    margin-right: 15rem;
}

.boldis{
    margin-top: 5px;
    color: #000000;
    display: flex;
    justify-content: space-between;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    margin-left: 15rem;
    margin-right: 15rem;
}

#colabora {
    margin-left: -34px;
}

#down {
    margin-left: -5px;
}

#reviw {
    margin-right: -30px;
}

.desc-boldis{
    margin-top: 15px;
    color: #414164d7;
    display: flex;
    justify-content: space-between;
    font-family: Poppins;
    font-size: 19px;
    font-weight: 300;
    margin-left: 15rem;
    margin-right: 15rem;
}

#colabora-desc {
    margin-left: 20px;
}

#down-desc {
    margin-left: 4px;
}

#reviw-desc {
    margin-right: -178px;
}


.vagas {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-family: Poppins;
    font-size: 19px;
    font-weight: 300;
    margin-left: 15rem;
    margin-right: 15rem;
}

#vaga {
    color: #242742;
    font-weight: 600;
    margin-left: 530px;
    margin-top: 150px;

}

#vaga  { 
    background:  #4a4a6e83;
	font-size: 16px;
	text-decoration: none;
	padding: 7px 30px;
	border-radius: 60px;
	display: inline-block;
	border: none;
	cursor: pointer;
    transition: all .3s ease-in-out;
}


.precis {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-family: Poppins;
    font-size: 19px;
    font-weight: 300;
    margin-left: 15rem;
    margin-right: 15rem;
}

#procura {
    font-weight: bold;
    margin-top: 50px;
    margin-left: 330px;
    font-size: 35px;
    font-weight: 500;
}

.precis-desk {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-family: Poppins;
    font-size: 19px;
    font-weight: 300;
    margin-left: 15rem;
    margin-right: 15rem;
}

.precis-desc {
    font-weight: 300;
    color: #414164d7;
    font-size: 20px;
    margin-left: 315px;
}

.peoples {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    margin-left: 15rem;
    margin-right: 15rem;
}


.reserved {
    margin-top: 400px;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 500;
    color: #3b3b41b9;
}